<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          container: {
            center: true,
            padding: "2rem",
          },
        },
      };
    </script>
    <title>Document</title>
  </head>
  <body>
    <!-- breakpoint : 웹사이트가 화면 크기에따라 달라지는 기준점 -->
    <div class="container max-w-2xl bg-purple-400 text-white h-screen">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit corporis
      quod asperiores, molestias laboriosam aperiam. Quis, ipsam! Quas
      accusantium blanditiis voluptatibus illum officiis cupiditate explicabo
      veniam suscipit quibusdam. Numquam, deleniti.
    </div>
  </body>
</html>
